<strong> olá, {{entregador}} </strong>
<p>Uma encomenda foi cancelada</p>
<p>
  <strong>Produto: </strong> {{product}} <br>
  <strong>Cliente: </strong> {{cliente}} <br>
  <strong>Data: {{dataCancelamento}}</strong>
  <br>
</p>
