<strong> olá, {{entregador}} </strong>
<p>Uma nova encomenda foi criada</p>
<p>
  <strong>Produto: </strong> {{product}} <br>
  <strong>Cliente: </strong> {{cliente}} <br>
  <br>
  <strong>O produto já está disponível para a retirada</strong>
</p>
